.quote-container {
    background-image: url('../../images/tree-quote.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50em;
    position: relative;
   
}
.quote-paragraph {
    font-family: 'Kalam', cursive;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: left;
    
    
}

.quote-paragraph-author {

    font-family: 'Kalam', cursive;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: right;
}

.quote-nav {
    position: absolute;
    background: transparent;
    bottom: 2em;
    left: 35%;
    
}
